---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}

main {
  margin: 2em auto;
  padding: 2em;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}